.twitter-typeahead { 
    width: 500px;
}

.twitter-typeahead .tt-input, .twitter-typeahead .tt-hint {
    width: 500px;
    height: 50px !important;
    line-height: 50px !important;
    margin: 0px;
    padding: 0px 12px;
    border: 1px solid #ccc;
    outline: none;

    background-color: white; 
    background-position: 10px center;
    background-repeat: no-repeat;
    
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    
    text-indent: 15px;
    
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.twitter-typeahead .tt-input:focus {
    border: 1px solid rgba(251,133,33,0.75);
    background-color: white; 
    background-position: -20px center;
    text-indent: 0;
    color: black;
    width: 500px;
    
    box-shadow: 0 0 5px rgba(251,133,33,1);
}

.twitter-typeahead .tt-hint {
    color: #999;
}

.twitter-typeahead .tt-dropdown-menu {
    width: 400px;
    padding: 0;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 0px;
    color: black;
}

.twitter-typeahead .tt-dropdown-menu .tt-suggestion {
    text-align: left;
    padding: 3px 20px;
    font-size: 14px;
    line-height: 24px;
}

.twitter-typeahead .tt-dropdown-menu .tt-suggestion.tt-cursor {
    background-color: rgba(251,133,33,0.1);
    border-left: 5px solid rgba(251,133,33,1);
    padding: 3px 15px;
}

.twitter-typeahead .tt-dropdown-menu .tt-suggestion em {
    font-weight: bold;
    font-style: normal;
}
